@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";                 
@import "primeicons/primeicons.css";
@import 'bootstrap/dist/css/bootstrap.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f9f9f9;
}
